<form action="/articles/<%= @article.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="title">
    <input type="text" id="title" name="article[title]" value="<%= @article.title %>">
  </label>
  <label for="content">
    <textarea id="content" name="article[content]" placeholder="<%= @article.content %>"></textarea>
  </label>
  <input type="submit" value="Submit">
</form>