<form action="/articles" method="POST">
  <label for="title">
    <input type="text" id="title" name="article[title]">
  </label>
  <label for="content">
    <textarea id="content" name="article[content]"></textarea>
  </label>
  <input type="submit" value="Submit">
</form>